p {
    margin: 0px;
}

body {
    background-color: antiquewhite;
}

.book-cover {
    width: 120px;
    height: 170px;

}

.container {
    padding: 20px;
    display: flex;
    gap: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .left {
    flex-shrink: 0;
}

.content {
    margin: 20px 130px;
}

.summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.sum {
    color: rgb(14, 13, 13);
    font-weight: 550;
    margin-top: 4px;
}

.author:hover {
    color: grey;
}

.copy h1 {
    text-align: center;
}

.genre {
    color: cornflowerblue;
}